{% extends 'layout.html' %}

{% set activate_page = 'home' %}

{% block content %}

<main id="main">
  <p>
    Film, also called movie, motion picture or moving picture, is a visual art-form used to simulate experiences
    that communicate ideas, stories, perceptions, feelings, beauty, or atmosphere through the use of moving images.
    These images are generally accompanied by sound, and more rarely, other sensory stimulations.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
