<nav id="nav">

  <!--<h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>-->
  <a class="btn-nav
    {%if active_page == 'home' %}
        active
    {%endif%}"
     href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav
    {%if active_page == 'movies' %}
      active
    {%endif%}"
     href="{{ url_for('movie_bp.movie_by_genres') }}">Movies</a>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
